body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.transparent {
  opacity: 0;
}



.fade-appear .slide-bottom-page,
.fade-enter .slide-bottom-page{
  transform: translateY(100%);
}

.fade-appear-active .slide-bottom-page,
.fade-enter-active .slide-bottom-page{
  transform: translateY(0%);
  -webkit-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
  -moz-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
  -o-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
  transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
}

.fade-exit .slide-bottom-page{
  transform: translateY(0%);
  -webkit-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
  -moz-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
  -o-transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
  transition: all 1500ms cubic-bezier(0.550,0.085,0.000,0.990);
}

.fade-exit-active .slide-bottom-page{
  transform: translateY(100%);
}

.full-page{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
}
.slide-bottom-page{
  background-color: #ddd;
  z-index: 1;
}



.rounded-arrow {
  position: relative;
  float: left;
  background-color: rgba(0,0,0,0.3);
  border: solid 2px white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition: background-color 0.2s ease-in-out;
}

.rounded-arrow:hover {
  background-color: rgba(0,0,0,0.6);
}

.rounded-arrow .main {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
}

.rounded-arrow .left, .rounded-arrow .right{
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: white;
  left: 0;
  right: 0;
  margin: auto;
  top: 10px;
  transform-origin: top;
}

.rounded-arrow .left{
  transform: rotate(45deg);
}

.rounded-arrow .right{
  transform: rotate(-45deg);
}


.rounded-arrow.rounded-arrow-enter {
  animation-name: scale-up-down;
  animation-duration: 0.75s;
}

.rounded-arrow.rounded-arrow-enter .main {
  animation-name: rounded-arrow-visible-main-animation;
  animation-duration: 0.75s;
}

.rounded-arrow.rounded-arrow-enter .left, .rounded-arrow.rounded-arrow-enter .right {
  animation-name: rounded-arrow-visible-ticks-animation;
  animation-duration: 0.75s;
}

.rounded-arrow.rounded-arrow-exit{
  transform: scale(1);
  transition: transform 0.5s ease-in-out, background-color 0.2s ease-in-out;
}
.rounded-arrow.rounded-arrow-exit-active{
  transform: scale(0);
}


@keyframes rounded-arrow-visible-main-animation {
  0%   { height: 0px;}
  20%   { height: 0px;}
  100%  { height: 20px;}
}

@keyframes rounded-arrow-visible-ticks-animation {
  0%   { height: 0px;}
  20%   { height: 0px;}
  100%  { height: 12px;}
}



/* Common animations */

@keyframes scale-up-down {
  0%   {transform: scale(0);}
  50%  {transform: scale(1.2);}
  100%  {transform: scale(1);}
}





/* ICONS */

.plus-icon {
  width: 25px;
  height: 25px;
}

.plus-icon .plus-icon-inner-item {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.plus-icon .plus-icon-inner-item div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2px;
  height: 100%;
  background: #999;
}

.plus-icon .plus-icon-inner-item div:nth-child(1) {
}

.plus-icon .plus-icon-inner-item div:nth-child(2) {
  transform: rotate(90deg);
}

